In [1]:
import tensorflow as tf
import pandas as pd
from sklearn import model_selection, datasets

In [2]:
data = datasets.load_boston()
x = pd.DataFrame(data['data'], columns=data['feature_names'])
y = data['target']

c:\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [3]:
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [4]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, random_state=1)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((379, 13), (127, 13), (379,), (127,))

In [5]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(16))
model.add(tf.keras.layers.Dense(16))
model.add(tf.keras.layers.Dense(8, use_bias=False))
model.add(tf.keras.layers.Dense(4, use_bias=False))
model.add(tf.keras.layers.Dense(1))
model.build(input_shape=(None, 13))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                224

 dense_1 (Dense)             (None, 18)                306

 dense_2 (Dense)             (None, 8)                 144

 dense_3 (Dense)             (None, 4)                 32

 dense_4 (Dense)             (None, 1)                 5

=================================================================
Total params: 711
Trainable params: 711
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Saving the untrained form of our model. All the weights and biases are randomly initialized.
model.save('./../models/boston_housing/untrained')

In [7]:
model.compile(
        optimizer='adam',
        metrics=['mse'],
        loss='mean_absolute_error'
)

In [ ]:
model.fit(x_train, y_train, epochs=200)

In [9]:
eval = model.evaluate(x_test, y_test)
print("Loss and Mean Squared Error on testing data:", eval)

4/4 [==============================] - 0s 2ms/step - loss: 4.7630 - mse: 53.9753
Loss and Mean Squared Error on testing data: [4.762983798980713, 53.97529602050781]

In [ ]:
# Saving the trained form of our model. All the weights and biases are optimized.
model.save('./../models/boston_housing/trained')

In [17]:
x_test.iloc[20, :].tolist()

[0.25356,
 0.0,
 9.9,
 0.0,
 0.544,
 5.705,
 77.7,
 3.945,
 4.0,
 304.0,
 18.4,
 396.42,
 11.5]

In [16]:
y_test[20]

16.2